In [ ]:
import getpass
import oracledb

In [ ]:
un = 'usuario'
cs= 'extring de conexao`
pw = getpass.getpass(f'Sua Senha para {un}@{cs}: ')

In [ ]:
dados =[]

In [ ]:
dados1=[]

In [ ]:
dados1.

In [ ]:

with oracledb.connect(user=un, password=pw, dsn=cs) as connection:
    with connection.cursor() as cursor:
        sql = """SELECT * FROM TABELA"""
        for r in cursor.execute(sql):
            dados.append(r) 
            
            print(r)

In [ ]:
for i in dados:
    print(i)

In [ ]:
print (dados)

In [ ]:
type(dados)

In [ ]:
dados

In [ ]:
dataset= pd.DataFrame(dados)

In [ ]:
print(dataset)

In [ ]:
dataset

In [ ]:
type(dataset)

In [ ]:
print(pd.DataFrame([[1, 2], [3, 4]], columns=["A", "B"]))

In [ ]:
dataset.groupby([3]).count()